<%- include('./partials/header')  %>


<form action="/add" method="POST">      
  <input name="title" type="text" class="feedback-input" placeholder="Enter the title of blog" />   
  <input name="image" type="text" class="feedback-input" placeholder="Enter the URL for the image" />
  <textarea name="text" class="feedback-input" placeholder="Blog goes here..."></textarea>
  <input type="submit" value="SUBMIT"/>
</form>



<%- include('./partials/footer')  %>