<%- include('./partials/header')  %>
<aside class="profile-card">
    <header>
      <a href="https://www.linkedin.com/in/sharath-guvvala-871ba0204/">
        <img src="">
      </a>
      <h1>Sharath</h1>
      <h2>Web Developer</h2>
    </header>
    <div class="profile-bio">
      <p id="bio">I am pursuing my first year Computer Science Engineering at VIT Vellore. I am a Web Developer and a Machine Learning Enthusiast. </p>
    </div>
    <ul class="profile-social-links" style="padding-left: 0px;">
      <li>
        <a href="https://github.com/sharathguvvala" target="_blank">
            <i class="fab fa-github"></i>
        </a>
      </li>
      <li>
        <a href="http://instagram.com/sharathguvvala" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/Sharathguvvala" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </aside>

<%- include('./partials/footer')  %>