h2{
    text-align: center;
}
h5{
    margin: auto;
    padding-left: 30px;
}
body{
  background-color: lightgray;
}
h4{
  text-align: center;
  color: #CC6666;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:70%; margin:50px auto; }
.feedback-input {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #CC6666;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}
.feedback-input:focus { border:2px solid #CC4949; }
textarea {
  height: 250px;
  line-height: 150%;
  resize:none;
  overflow-y: scroll;
}
[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }




@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans');

.container{
  display: flex;
  justify-content: center;
  padding: 30px;
}
.square{
  width: 60%;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #D9DBDF;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
img{
  width: 100%;
} 

.h1{
  margin: auto;
  text-align: left;
  padding-left: 30px;
  font-family: 'Merriweather', serif;
  font-size: 24px;
}
p{
 text-align: justify; 
 padding-left: 30px;
 padding-right: 30px;
 font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 color: black;
 line-height: 18px;
 margin: 1rem;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: turquoise;
}
.button {
    background-color: #f50e67;
    color: black;
    width: 120px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 70px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'merriweather';
    margin-bottom: 3vh;
}
.button:hover{
  text-decoration: none;
  color: black;
  background-color: #fa5d99;
}
.buttond {
  background-color: crimson;
  color: black;
  width: 120px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'merriweather';
  margin-bottom: 3vh;
}
.buttond:hover{
text-decoration: none;
color: black;
background-color:rgb(218, 59, 91);
}
.profile-card{
  width: 300px;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  position: relative;
  margin: auto;
  background: rgba(255,255,255,1);
  margin-top: 10vh;
}
.profile-card header{
  display: block;
  position: relative;
  background: rgba(255,255,255,1);
  text-align: center;
  padding: 30px 0 20px;
  z-index: 1;
  overflow: hidden;
}
.profile-card header:before{
  content: "";
  position: absolute;
  background: url('http://ali.shahab.pk/blur.php?img=http://ali.shahab.pk/ali-shahab.jpg&x=60') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  
}
.profile-card header:after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
}
.profile-card header img{
  border-radius: 100%;
  overflow: hidden;
  width: 150px;
  /*border: 1px solid rgba(255,255,255,.5);*/
  box-shadow: 0 1px 0 rgba(0,0,0,.1),0 1px 2px rgba(0,0,0,.1);
}
.profile-card header h1{
  font-weight: 200;
  font-size: 42px;
  color: #444;
  letter-spacing: -3px;
  margin: 0;
  padding: 0;
}
.profile-card header h2{
  font-weight: 400;
  font-size: 14px;
  color: #666;
  letter-spacing: .5px;
  margin: 0;
  padding: 0;
}
.profile-card .profile-bio{
  text-align: center;
  color: #888;
}
.profile-card .profile-bio #bio{
  text-align: center;
  padding: 0px 20px;
  line-height: 24px;
  margin: 0px;
}
.profile-card .profile-social-links{
  display: table;
  width: 70%;
  margin: 20px auto;
}
.profile-card .profile-social-links li{
  display: table-cell;
  width: 33.3333333333333333%
}
.profile-card .profile-social-links li a{
  display: block;
  text-align: center;
  padding: 10px;
  margin: 0 10px;
  border-radius: 100%;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.profile-card .profile-social-links li a:hover{
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
  background-color: lightgray;
}
.profile-card .profile-social-links li a:active{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
  background-color: lightgray;
}
.profile-card .profile-social-links li a i{
  font-size: 30px;
  display: block;
}
.fa-github{
  color: #444;
}
.fa-instagram{
  color: #1024da;
}
.fa-twitter{
  color: rgb(22, 156, 245);
}